body {
    margin: 6em 0 0 0;
    padding: 0;
    background-color: #7c7c91;
}
menu{
    padding: 0;
}

.main-menu {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.main-menu li {
    display: inline-block;
}

.sub-menu ul {
    display: none;
    width: 200px;
}

.sub-menu:hover ul {
    display: block;
    margin: 0;
    padding: 0;
}

a {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    min-width: 200px;
    width: 15vw;
    padding: 15px 30px;
    font-size: 2em;
    background-color: #222831;
    color: #dddddd;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all ease-in-out .5s;
    outline: none;
}

a::after {
    position: absolute;
    bottom: 0;
    left: 100%;
    content: '';
    width: 0%;
    height: 5px;
    background-color: rgb(187, 58, 7);
    transition: all ease-in-out .2s;


}

a:hover {
    color: rgb(187, 58, 7);
    background-color: #d3dae0;
    transition: all ease-in-out .5s;
}

a:hover::after {
    left: 0;
    width: 100%;
}

.sub-menu a:not(.sub-menu-title):hover {
    transform: translateX(5px);
}