html, body, h1, h2, h3, p{
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: #dddddd;
}
.main-container{
    width: 970px;
    background-color: #222831;
    margin: 0 auto;
    padding: 1.2em 1.5em;  
}
.avatar{
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
h1{
    text-align: center;
    font-size: 3em;
    font-weight: 500;
}
h2{
    font-size: 1.6em;
    margin: .5em;
    padding-left: .3em;
    border-left: 3px solid #f05454;
    font-weight: 500;
}
h1, h2, h3{
    text-transform: uppercase;
}
.experiences, .formations{
    margin-left: 6em;
}
.experiences span, .formations span{
    font-weight: bold;
}
.experiences{
    list-style-type: square;
}
.formations{
    list-style-type: circle;
}
hr{
    width: 400px;
    height: 4px;
    border: none;
    background-color: #FFF;
    border-radius: 5px;
    margin: 1.5em auto;
}
figure{
    display: inline-block;
    width: 150px;
    height: 150px;
}
figcaption{
    text-align: center;
}
.hobbies-img{
    border-radius: 50%;
}
h3{
    text-align: center;
    font-size: 1.5em;
}
p span{
    color:  #f05454;
}